node_modules

#amplify
amplify/*
src/aws-exports.js

#build
build/

#dist
dist/

#node_modules/
node_modules/

postcss.config.js
src/serviceWorker.js

#lib
lib/

#firebase-messaging-sw.js
public/firebase-messaging-sw.js