$gridColumns: var(--gridColumns);
$red: #ff6252;
.shedule {
	.gantt {
		display: grid;
		border: 0;
		border-radius: 12px;
		position: relative;
		overflow: hidden;
		box-sizing: border-box;
		height: 256px;
		width: 1200px;
		overflow: auto;
		.project-title {
			border-bottom: 1px solid #f0f0f0;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		&__row {
			display: grid;
			grid-template-columns: 188px 1fr;
			background-color: #fff;
			&:nth-child(odd) {
				background-color: #fff;
				.gantt__row-first {
					background-color: #fff;
				}
			}
			&:nth-child(3) {
				.gantt__row-bars {
					border-top: 0;
				}
				.gantt__row-first {
					border-top: 0;
				}
			}
			&--empty {
				background-color: lighten($red, 25%) !important;
				z-index: 1;
				.gantt__row-first {
					border-width: 1px 1px 0 0;
				}
			}
			&--lines {
				position: absolute;
				height: 100%;
				width: 100%;
				background-color: transparent;
				grid-template-columns: 188px repeat($gridColumns, 1fr);
				top: 30px;
				span {
					display: block;
					border-right: 1px solid #f0f0f0;
					height: calc(100vh - 300px);
					min-width: 20px;
					&.marker {
						background-color: rgba(10, 52, 68, 0.13);
						z-index: 2;
					}
				}
				.line-week {
					border-right: 1px dashed #D7D7D7;
				}
				&:after {
					grid-row: 1;
					grid-column: 0;
					background-color: #1688b345;
					z-index: 2;
					height: 100%;
				}
			}
			&--months {
				color: #84899c;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				grid-template-columns: 180px repeat($gridColumns, 1fr);
				height: 30px;
				.mark-week {
					background-color: #ffefef;
					border-radius: 5px;
					padding-right: 2px;
					padding-left: 2px;
				}
				.gantt__row-first {
					border-top: 0 !important;
					color: #000000;
					width: 170px;
				}
				span {
					text-align: left;
					font-size: 13px;
					align-self: center;
					font-weight: bold;
					padding: 5px 0;
					border-right: transparent;
					width: 15px;
					justify-content: space-evenly;
					font-style: normal;
					font-weight: 500;
					font-size: 11px;
					line-height: 9px;
					letter-spacing: 0.38999px;
					color: #84899c;
					min-width: 20px;
				}
				.gantt__row-first {
					font-weight: bold;
				}
			}
			&-first {
				background-color: #fff;
				border-color: rgba(0, 0, 0, 0.1);
				border-style: solid;
				padding: 5px 0;
				font-size: 13px;
				font-weight: normal;
				text-align: left;
				color: #333333;
			}
			&-bars {
				list-style: none;
				display: grid;
				padding-bottom: 10px;
				padding-top: 22px;
				margin: 0;
				grid-template-columns: repeat($gridColumns, 1fr);
				grid-gap: 8px 0;
				position: relative;
				height: 32px;
				li {
					font-weight: 500;
					text-align: left;
					font-size: 14px;
					height: 15px;
					background-color: #55de84;
					padding: 5px 12px;
					color: #fff;
					overflow: hidden;
					position: relative;
					cursor: pointer;
					border-radius: 20px;
					z-index: 1;

					&.stripes {
						background-image: repeating-linear-gradient(
							45deg,
							transparent,
							transparent 5px,
							rgba(255, 255, 255, 0.1) 5px,
							rgba(255, 255, 255, 0.1) 12px
						);
					}

					&:before,
					&:after {
						content: "";
						height: 100%;
						top: 0;
						z-index: 4;
						position: absolute;
						background-color: rgba(0, 0, 0, 0.3);
					}
					&:before {
						left: 0;
					}
					&:after {
						right: 0;
					}
					&:nth-child(2) {
						top: -23px;
						z-index: 0;
					}
				}
			}
		}
	}
}

.search-customer {
	box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.269613);
border-radius: 3px;
margin-top: 245px;
}